<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Crie uma nova lista</h3>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Comédia' %>
          <%= f.submit class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
